.box-animate-rotate {
    margin:200px;
    position: relative;
    text-align: center;
    display: block;
    width: 300px;
    height: 300px;
    animation-name: animate-rotate;
    transform-style: preserve-3d;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
@keyframes animate-rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.front-animate-moveFront {
    position: absolute;
    width: 200px;
    height: 200px;

    transform-style: preserve-3d;
    animation-name: round-right;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.front-animate-moveFront:after {
    position: absolute;
    line-height: 200px;
    top: 0px;
    left: 0px;
    content: 'front-animate-moveFront';
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: rgb(15, 25, 255);
    transform: translateZ(50px);
}
.front-animate-moveFront::before {
    position: absolute;
    box-sizing: border-box;
    display: block;
    top: 0px;
    left: 0px;
    content: '';
    width: 200px;
    height: 200px;
    background: rgb(15, 25, 255);
    transform: translateZ(50px);
}
@keyframes round-right {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-360deg);
    }
}
.back-animate-moveBack {
    box-sizing: border-box;
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation-name: round-left;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.back-animate-moveBack::after {
    position: absolute;
    line-height: 200px;
    top: 0px;
    left: 0px;
    content: 'back-animate-moveBack';
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: rgb(235, 33, 33);
    transform: rotateY(180deg) translateZ(50px);
}
.back-animate-moveBack::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    width: 200px;
    height: 200px;
    background: rgb(255, 47, 64);
    transform: rotateY(180deg) translateZ(50px);
}
@keyframes round-left {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}